.regsuccess{
  width: 355px;
  background: whitesmoke;
  border-radius: 45px;
  position: absolute;
  top: 355px;
  left: 675px;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px 20px;
  color: black;
}
.regsuccess button{
  width: 50%;
  position: absolute;
  top: 145px;
  left: 95px;
  margin-top: 50px;
  padding: 5px 0;
  background: gray;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
